body {
  font-family: sans-serif;
  /* background-color: #2c3e50; */
  color: white;
  text-align: center;
  align-content: center;
}

button {
  padding: 0;
}

span {
  margin-right: 5px;
}

.finishedList {
  color: gray;
}

.clock-time {
  font-size: 100px;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.greet-and-todo {
  width: 500px;
  /* background-color: rgba(216, 221, 226, 0.596);
  align-self: center; */
  margin: 0 auto;
  text-align: center;
  align-content: center;
}

.weather {
  font-size: x-small;
  text-align: right;
}
